.summaryContainer {
  padding: 20px 30px;
}

.title {
  text-align: start;
  font-weight: 700;
  font-size: larger;
}

.scores {
  padding-top: 20px;
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px 20px;
}

.score div {
  display: flex;
  align-items: center;
}

.score div img {
  margin-right: 10px;
}

.score div span:first-child {
  color: hsl(224, 30%, 27%);
  margin-right: 0.5em;
}

.score div span:last-child {
  color: hsl(224, 30%, 27%, 0.3);
}

.red {
  background-color: hsl(0, 100%, 67%, 0.05);
}

.red div:first-child {
  color: hsl(0, 100%, 67%);
}

.yellow {
  background-color: hsl(39, 100%, 56%, 0.1);
}

.yellow div:first-child {
  color: hsl(39, 100%, 56%);
}

.green {
  background-color: hsl(166, 100%, 37%, 0.05);
}

.green div:first-child {
  color: hsl(166, 100%, 37%);
}

.blue {
  background-color: hsl(234, 85%, 45%, 0.05);
}

.blue div:first-child {
  color: hsl(234, 85%, 45%);
}

.button {
  display: flex;
  margin-top: 30px;
}

.button input {
  width: 100%;
  color: white;
  background-color: hsl(224, 30%, 27%);
  border: none;
  padding: 15px 20px;
  border-radius: 50px;
  font: inherit;
}

/* Desktop Styles */

@media only screen and (min-width: 731px) {
  .summaryContainer {
    width: 100%;
  }

  .button input:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  }
}
