.App {
  text-align: center;
}

/* Desktop Styles */

@media only screen and (min-width: 731px) {
  .App {
    max-width: 731px;
    display: flex;
    box-shadow: 10px 10px 5px hsl(221, 100%, 96%);
    border-radius: 30px;
  }
}
