@font-face {
  font-family: "Hank";   /*Can be any text*/
  src: local("HankenGrotesk-VariableFont_wght"),
    url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
}


body {
  margin: 0;
  font-family: "Hank";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
